<plugin_info>
    <plugin_name>Test Plugin</plugin_name>
    <plugin_dir>TestPlugin/trunk/TestPlugin.py</plugin_dir>
    <plugin_description>Check for the existance of a network in hydra
Written by Stephen Knox sknox@ucl.ac.uk
(c) Copyright 2013, University College London.
</plugin_description>
    <plugin_epilog>For more information visit www.hydra-network.com</plugin_epilog>
    <mandatory_args>
        <arg>
            <name>network_id</name>
            <switch>-n</switch>
            <multiple>N</multiple>
            <argtype>integer</argtype>
            <help>A network ID</help>
        </arg>
    </mandatory_args>
   <non_mandatory_args>
    </non_mandatory_args> 
    <switches>
    </switches>
 </plugin_info>

