<plugin_info>
    <plugin_name>Export CSV Plugin</plugin_name>
    <plugin_dir>ExportCSV/trunk/ExportCSV.py</plugin_dir>
    <plugin_description>Export a network saved in Hydra to a set of CSV files.
    <smallicon>icon.png</smallicon>
    <largeicon>icon.png</largeicon>

Written by Philipp Meier philipp@diemeiers.ch
(c) Copyright 2013, University College London.
</plugin_description>
    <plugin_epilog>For more information visit www.hydra-network.com</plugin_epilog>
    <mandatory_args>
        <arg>
            <name>network</name>
            <switch>-t</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>The ID of the network to be exported</help>
        </arg>
    </mandatory_args>
   <non_mandatory_args>
       <arg>
           <name>scenario</name>
           <switch>-s</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>Specify the ID of the scenario to be exported. If no
                 scenario is specified, all scenarios in the network will be
                 exported.
            </help>
        </arg>
        <arg>
           <name>timezone</name>
           <switch>-z</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>Specify a timezone as a string following the
                        Area/Location pattern (e.g. Europe/London). This
                        timezone will be used for all timeseries data that is
                        imported. If you don't specify a timezone, it defaults
                        to UTC.</help>
        </arg>
        <arg>
            <name>server_url</name>
            <switch>-u</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>Specify the URL of the server to which this
                        plug-in connects.</help>
        </arg>
    </non_mandatory_args> 
    <switches>
    </switches>
 </plugin_info>
