<plugin_info>
    <plugin_name>GAMS Plugin</plugin_name>
    <plugin_dir>GAMS-Plugin/trunk/GAMS-Plugin.py</plugin_dir>
    <plugin_description>Import a network saved in a set of GAMS files into Hydra.

Written by Philipp Meier philipp@diemeiers.ch
(c) Copyright 2013, University College London.
</plugin_description>
    <plugin_epilog>For more information visit www.hydra-network.com</plugin_epilog>
    <mandatory_args>
        <arg>
            <name>nodes</name>
            <switch>-n</switch>
            <multiple>Y</multiple>
            <argtype>file</argtype>
            <help>One or multiple files containing nodes and
                        attributes.</help>
        </arg>
        <arg>
            <name>links</name>
            <switch>-l</switch>
            <multiple>Y</multiple>
            <argtype>file</argtype>
            <help>One or multiple files containing information
                        on links.</help>
        </arg>
    </mandatory_args>
   <non_mandatory_args>
       <arg>
           <name>project</name>
           <switch>-p</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>The ID of an existing project. If no project is
                        specified or if the ID provided does not belong to an
                        existing project, a new one will be created.</help>
        </arg>
        <arg>
           <name>scenario</name>
           <switch>-s</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>Specify the name of the scenario created by the
                        import function. Every import creates a new scenario.
                        If no name is provided a default name will be assigned.</help>
        </arg>
        <arg>
           <name>network</name>
           <switch>-t</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>Specify the file containing network
                        information. If no file is specified, a new network
                        will be created using default values.</help>
        </arg>
        <arg>
           <name>timezone</name>
           <switch>-z</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>Specify a timezone as a string following the
                        Area/Location pattern (e.g. Europe/London). This
                        timezone will be used for all timeseries data that is
                        imported. If you don't specify a timezone, it defaults
                        to UTC.</help>
        </arg>
        <arg>
            <name>rules</name>
            <switch>-r</switch>
            <multiple>Y</multiple>
            <argtype>file</argtype>
            <help>File(s) containing rules or constraints as
                        mathematical expressions.</help>
        </arg>
    </non_mandatory_args> 
    <switches>
        <arg>
            <switch>-x</switch>
            <name>expand-filenames</name>
            <help>If the import function encounters something
                        that looks like a filename, it tries to read the file.
                        It also tries to guess if it contains a number, a
                        descriptor, an array or a time series.</help>
        </arg>
    </switches>
 </plugin_info>

